; https://chic-appreciation-production.up.railway.app/
SPRING_DATASOURCE_URL=jdbc:mysql://tramway.proxy.rlwy.net:17217/railway
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=CgPUiLeDYTeNDqvVstPPMMcNtDiGIPCh

; https://derp-backend-production.up.railway.app/
; SPRING_DATASOURCE_URL=jdbc:mysql://shortline.proxy.rlwy.net:15038/railway
; SPRING_DATASOURCE_USERNAME=root
; SPRING_DATASOURCE_PASSWORD=qHuPOlmgszpVYsWDkIoRjjNYugMFGYwQ

SERVER_PATH=/
SWAGGER_URL=/derp_docs
FRONTEND_URL=http://localhost:5173
JWT_SECRET_KEY=my-super-secret-key-for-demo-project-2026-very-secure-key

